@import url(server.css);

#servers {
    display: none;
}

#servers .title {
    margin-top: 7px;
    text-align: center;
    color: white;
}

.servers-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    margin: 0 5vw 0;
    height: calc(100vh - 127px);
    background-color: rgba(0, 0, 0, 0.25);
    display: inline-flex;
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
}

.servers-wrapper img {
    width: auto;
    height: 250px;
}

.servers-wrapper h1 {
    font-size: x-large;
}

.servers-wrapper::-webkit-scrollbar {
    width: 0px;
}