@import url(header/header.css);
@import url(theme/snowflakes.css);
@import url(footer/footer.css);

@import url(pages/home/home.css);
@import url(pages/servers/servers.css);
@import url(pages/settings/settings.css);
@import url(pages/about/about.css);

body {
    background-color: #151515;
    background:#151515 url(../img/stone.png);
    padding: 0;
    margin: 0;
    user-select: none;
    font-family: 'Raleway', sans-serif;
}

img {
    pointer-events: none;
}