#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: block;
}

.changelogs-wrapper {
  position: relative;
  width: 90%;
  margin: 0 5vw 0;
  height: calc(100vh - 127px);
  background-color: rgba(0, 0, 0, 0.25);
  display: inline-flex;
  overflow-y: scroll;
  color: white;
}

#changelogs-text {
  padding: 10px 30px;
}

.changelogs-wrapper img {
  margin-top: 10px;
  width: auto;
  height: 200px;
  border-radius: 1rem;
}

.changelogs-wrapper ul {
    line-height: 25px;
    font-size: 0.85em;
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #e3e3e3;
}

.changelogs-wrapper h1 {
  font-family: var(--fontMinecraft);
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  margin: 0;
  font-weight: 500;
  color: #1471FF;
  text-shadow: 2px 2px #072C63;
}

.changelogs-wrapper h1:not(:first-child) {
  margin-top: 60px;
}
