footer {
    width: 100%;
    height: 35px;
    background-color: #0F0F0F;
    position: fixed;
    bottom: 0;
}

footer h4 {
    position: fixed;
    color: rgb(87, 87, 87);
    margin-top: 7px;
    margin-left: 12px;
}

.not-affiliated {
    margin-left: 82.3%;
}